{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %}Add New Employee{% endblock %}

{% block body %}

<h2>Add New Employee</h2>
<form action="/add_employee" method="POST">
    <label for="employeeName">Name:</label><br>
    <input type="text" id="employeeName" name="employeeName" required><br><br>

    <label for="employeeEmail">Email:</label><br>
    <input type="email" id="employeeEmail" name="employeeEmail" required><br><br>

    <label for="employeePhone">Phone:</label><br>
    <input type="text" id="employeePhone" name="employeePhone" required><br><br>

    <button type="submit">Add Employee</button>
</form>


{% endblock %}
